@import url("https://fonts.google.com/specimen/Roboto?query=roboto");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$bg-primary: #AA0601;
$bg-secondary: #AA06010D;
$bg-general: #FFFFFF;
$text-layout: #FFFFFF;
$text-banner: #000000;
$text-primary: #650300;
$text-secondary: #AA0601;
$text-design: #FFFFFF;
$text-contact: #000000;
$text-client-title: #212529;
$text-client-content: #212529;
$text-client-time: #707070;
$text-store: #212529;

$font-size-h1: 64px;
$font-size-h2: 48px;
$font-size-h3: 36px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 14px;
$font-size-p: 16px;

